@use "sass:math";

.main {
  height: 100%;
  background-color: $grey;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    max-width: 90%;
    margin: 0 auto;
  }

  &__content {
    @include border-inset;

    text-align:center;
    padding: $spacer * 1.5 $spacer * 2;
    background: url(../assets/sweeper-grid.png) top -5px left 0;
    border-width: math.div($spacer, 2);
  }

  &__section {
    margin-bottom: $spacer * 3;
  }

  &__selectors {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
