@use 'sass:math';

.btn {
  $btn: &;
  @include border-outset;

  background-color: $grey;
  cursor: pointer;

  &--primary {
    padding: 0.8rem $spacer;
    border-width: 5px;
    font-size: 1.2rem;
  }

  &--compact {
    font-size: 0.8rem;
    padding: 0.4rem $spacer;
    border-width: 3px;
  }

  &:hover,
  &:focus,
  &--active {
    @include border-inset;
  }

  &-focus--green {
    &:focus,
    &#{$btn}--active {
      color: $green
    }
  }

  &-focus--blue {
    &:focus,
    &#{$btn}--active {
      color: $blue
    }
  }

  &-focus--red {
    &:focus,
    &#{$btn}--active {
      color: $red
    }
  }
}
