@font-face {
  font-family: Minesweeper;
  src: url(../assets/fonts/mine-sweeper.otf);
}

h1 {
  margin: 0;
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
  margin: 0 0 $spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

.small {
  font-size: 1rem;
}
