@import './global/_variables';
@import './global/mixins';
@import './global/typography';

@import './atoms/btn';

@import './components/calculator';
@import './components/header';
@import './components/streaming-quality';

@import './views/main';

html {
  font-size: 10px;
}

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-family: Minesweeper, Arial, sans-serif;
  }
}
